html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body {
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 1.5;
  }
  
header {
    background-color: #009246;
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

.logo-container {
    margin-left: auto;
}

.headlogo {
    width: 150px;
    height: 100px;
}

.header-text {
    margin-left: 10px;
}

/* show the pizzas on a 3x3 matrix */
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 200px;
    height: 300px;
    text-align: center; 
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

.menu img{
    width: 300px;
    height: 300px;
}

.menu h2{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu p{
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-item{
    border: 1px solid #000000;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 20px auto;
}

/* make the buttons the same size for all */

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
