<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Mario and Luigi's Pizzeria</title>
</head>
    <body>
        <header>
            <h1>Mario and Luigi's Pizzeria</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <main>
            <div id="todayoffer">
                <h2>Today's Offer</h2>
                <p>Buy one pizza and get the second one half price</p>
            </div>
            <div id="storepickup">
                <h2>Store Pick-Up</h2>
                <p>Order online and pick up in store</p>
            </div>
            <div id="delivery">
                <h2>Delivery</h2>
                <p>Order online and have it delivered to your door</p>
        </main>
    </body>
</html>