<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="CSS/luigi.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='luigi.css') }}">
	<title>Pending Pizza Orders</title>
</head>
<body>
	<header>
        <h1>Mario and Luigi's Pizzeria</h1>
    </header>
	<main>
		<h1>Pending pizza orders</h1>
		<table>
			<tr>
				<th>Order Number</th>
				<th>Pizza Name</th>
				<th># of Pizzas</th>
				<th>Time to Make</th>
			</tr>
			{% for order in orders %}
			<tr>
				<td>{{ order.index }}</td>
				<td>{{ order.pizza_name }}</td>
				<td>{{ order.quantity }}</td>
				<td>{{ order.time_left }}</td>
			</tr>
			{% endfor %}
		</table>
	</main>
</body>
</html>
