<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/luigi.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='luigi.css') }}"> -->
    <title>Pizzas to be done</title>
</head>
    <body>
        <header>
            <h1>Mario and Luigi's Pizzeria</h1>
        </header>
        <main>
            <div class="dashboard">

            </div>
        </main>
    </body>
</html>